version: "3.8"

services:
 db:
  image: mango:6
  container_name: mangodb
  volumes: 
   - /user/ubuntu/mangodata:/data/db
  networks:
   - app-network
 backend:
  build: ./backend
  container_name: back
  depend_on:
   - db
  environment:
      - MONGO_URI=mongodb://mongodb:27017/
  networks:
   - app-network
 frontend:
  build: ./frontend
  cointainer_name: front
  networks:
   - app-network
  nginx:
   image: nginx:alpine
   container_name: nginx
   volumes:
    - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
  ports:
   - "80:80"
  networks:
   - app-network
  networks: 
  app-network:
   driver: bridge
