version: "3.8"

services:
 db:
  image: mongo:6
  container_name: mongodb
  volumes: 
   - ./mongodata:/data/db
  networks:
   - app-network
 backend:
  build: ./backend
  container_name: back
  depends_on:
   - db
  environment:
     - MONGO_URI=mongodb://db:27017/
  networks:
   - app-network
 frontend:
  build: ./frontend
  container_name: front
  networks:
   - app-network
 nginx:
  image: nginx:alpine
  container_name: nginx
  volumes:
   - ./nginx:/etc/nginx/conf.d
  ports:
   - "80:80"
  networks:
   - app-network
networks: 
 app-network:
  driver: bridge


