apiVersion: v1
kind: PersistentVolume
metadata:
  name: mongo-pv
  namespace: ecommerce
  labels:
    app: mongodb
spec:
  storageClassName: manual
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/mnt/data/mongo"
  persistentVolumeReclaimPolicy: Retain
